<div class="row schedule-info">
  <div class="col-sm-3 description">
    Password*
  </div>
  <div class="col-sm-3">
    {{input type="password" id="account-password" value=password class="form-control" placeholder="Enter password here" maxlength="100"}}
    <p class="dim">Password must be at least 6 characters</p>
  </div>
  <div class="col-sm-3" style="padding-top: 8px">
    <div class="progress">
      <div {{bind-attr class=":progress-bar passwordStrength"}}>{{passwordStrengthLabel}}
        <span class="sr-only">{{passwordStrengthLabel}}</span>
      </div>
    </div>
  </div>
</div>
<div class="row schedule-info">
  <div class="col-sm-3 description">
    Confirm Password*
  </div>
  <div class="col-sm-3">
    {{input type="password" id="account-password-confirmation" valueBinding="passwordConfirmation" class="form-control" placeholder="Re-enter password here"}}
  </div>
  <div class="col-sm-3" style="padding-top: 8px">
    {{#unless doPasswordsMatch}}<b>Passwords do not match</b>{{/unless}}
  </div>
</div>
